* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --twitter-blue: #1da1f2;
  --secondary-text: #828282;
  --separator-color: #2f2f2f;
}

body {
  color: #fff;
  background-color: #121214;
  -webkit-font-smoothing: antialised;
}

body, input, textarea, button {
  font: 400 1rem Roboto, sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}