#home {
  form {
    padding: 1.5rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid var(--separator-color);
    label {
      display: flex;
      gap: 1.6rem;

      img {
        width: 3rem;
        height: 3rem;
        border-radius: 9999px;
      }
      textarea {
        flex: 1; 
        background-color: inherit;
        border: none;
        font-size: 1.1rem;
        margin-top: 0.75rem;
        font-weight: 400;
        color: #fff;
        outline: none;
        resize: none;
        overflow-y: hidden;
        border-bottom: 1px solid rgba(95, 95, 95, 0.137);

        &::placeholder {
          color: var(--secondary-text);
          font-weight: 600;
        }
      }
    }
    button[type=submit] {
      margin-left: auto;
      background: var(--twitter-blue);
      border-radius: 9999px;
      padding: 0.75rem 1.5rem;
      color: #fff;
      font-size: 1rem;
      font-weight: 900;
      border: 0;

      &:hover {
        filter: brightness(0.9)
      }
    }
  } // form
} // #home